
/* Shop */
.woocommerce span.onsale {
	left: auto !important;
	right: 7px !important;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	margin: 0 0 2.992em 2%;
}

.woocommerce ul.products li.last,
.woocommerce-page ul.products li.last {
    margin-left: 0 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding-left: 0;
    padding-right: 5px;
}

.widget_product_search input[type="submit"] {
	right: auto;
	left: 0;
}

.woocommerce ul.products li.product .star-rating span,
.woocommerce ul.products li.product .star-rating::before {
    left: auto;
    right: 8px;
}


.woocommerce .page-content nav.woocommerce-pagination ul li a.prev {
    left: auto;
    right: 0;
}

.woocommerce .page-content nav.woocommerce-pagination ul li a.next {
    left: 0;
    right: auto;
}

.woocommerce .page-content nav.woocommerce-pagination ul li a.prev:after {
    content: "\f178";
}

.woocommerce .page-content nav.woocommerce-pagination ul li a.next:after {
    content: "\f177";
}

.woocommerce .woocommerce-checkout-review-order table.shop_table {
    float: right;
}

.woocommerce-checkout-review-order .woocommerce-checkout-payment {
    float: left;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin-left: 0;
	margin-right: 77px;
}

.woocommerce .widget_layered_nav ul li,
.woocommerce .widget_product_categories ul li {
    float: right;
    text-align: left;
}

.woocommerce .widget_layered_nav ul li a,
.woocommerce .widget_product_categories ul li a {
    float: right;
}

.woocommerce .widget_layered_nav .children li {
    padding-left: 0;
    padding-right: 10px;
}

.woocommerce .widget_rating_filter ul li {
  text-align: left;
}

.woocommerce .widget_rating_filter ul li .star-rating {
  float: right;
}

.woocommerce .widget_shopping_cart .buttons a, .woocommerce.widget_shopping_cart .buttons a {
  margin-right: 0;
  margin-left: 10px;
}
